[submodule "libs/cutelogger"]
	path = libs/cutelogger
	url = https://github.com/dept2/CuteLogger
[submodule "libs/vcglib"]
	path = libs/vcglib
	url = http://github.com/cnr-isti-vclab/vcglib/
[submodule "libs/eigen-git-mirror"]
	path = libs/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
